html,body {
height:100%;
background:#fdfdfd;
font-size:90%;
margin:0;
padding:0;
}

select {
border:1px solid #d1d1d1;
}

body,h1,h2,h3,p,span,div {
font-family:"vera sans","dejavu sans",helvetica,verdana,arial,sans-serif;
color:#666;
}

h3 {
margin-top:1em;
margin-bottom:0;
font-size:110%;
letter-spacing:.05em;
margin-left:0;
padding-left:10px;
padding-bottom:0;
padding-top:0;
text-decoration:underline;
}

a:link,a:visited,a:link:active,a:link:hover {
color:#486aaf;
text-decoration:none;
}

a:link:hover {
text-decoration:underline;
}

.warntext {
font-weight:700;
background-color:#CC0;
border:1px solid #b9b900;
margin:-1px;
padding:0;
}

.crittext {
font-weight:700;
background-color:#ff6f22;
border:1px solid #f16722;
margin:-1px;
padding:0;
}

img {
border:0;
}

img.i {
border:1px solid #a0a0a0;
}

img.iwarn {
border:1px solid #ffd300;
}

img.icrit {
border:1px solid red;
}

img.iunkn {
border:1px solid #FA0;
}

#header {
width:90%;
background-color:#fbfbfb;
border:1px solid #cfd6f8;
border-bottom-left-radius:4px;
-moz-border-radius-bottomleft:4px;
-webkit-border-bottom-left-radius:4px;
border-bottom-right-radius:4px;
-moz-border-radius-bottomright:4px;
-webkit-border-bottom-right-radius:4px;
border-top:0;
height:40px;
margin:0 auto;
padding:3px;
}

h1,h2 {
font-size:110%;
font-weight:700;
margin:0 auto;
padding:0;
}

#nav h2 {
margin-top:.4em;
}

h1 .logo {
display:block;
float:left;
background-image:url(logo-h.png);
background-repeat:no-repeat;
width:115px;
height:30px;
padding-right:10px;
margin-top:7px;
padding-bottom:6px;
}

#main {
width:90%;
margin:0 auto;
}

.contentpusher {
clear:both;
}

#nav {
float:left;
width:200px;
}

#nav ul li {
list-style-type:none;
margin:0 0 0 3px;
padding:2px;
}

#nav ul {
margin:.2em 0 .8em;
padding:0;
}

#content {
border-left:1px solid #cfd6f8;
margin-left:220px;
padding:1em;
}

#content li {
margin-left:-20px;
}

#content > ul:first-of-type {
margin-left:2em;
}

.comparison #content {
margin-left:0;
}

ul.groupview li.last {
margin-bottom:1em;
}

td {
vertical-align:top;
}

.node {
width:500px;
}

#legend {
border-collapse:collapse;
margin:2px;
}

#legend tr,#legend td {
margin:1px;
padding:3px 2px;
}

#legend th {
border-bottom:1px solid #999;
}

#legend .oddrow {
background-color:#f8f8f8;
}

#legend .evenrow {
background-color:#fdfdfd;
}

#legend .lastrow td {
border-bottom:0 solid transparent!important;
}

#legend .field,#legend .internal {
width:20em;
text-align:left;
}

#legend .type {
width:7em;
text-align:center;
}

#legend .warn,#legend .crit {
width:5em;
text-align:center;
}

#footer {
width:90%;
background-color:#fbfbfb;
border:1px solid #cfd6f8;
clear:both;
margin:0 auto;
padding:5px;
}

#footer p.tagline {
font-size:80%;
text-align:left;
margin:0;
}

.categoryview .node {
display:inline-block;
}

a.unkn:link,a.unkn:visited,a.unkn:active,a.unkn:hover {
color:#FA0;
}

a.warn:link,a.warn:visited,a.warn:active,a.warn:hover {
color:#ffd300;
}

a.crit:link,a.crit:visited,a.crit:active,a.crit:hover {
color:red;
}

#header p,#footer p.navigation {
margin:0;
}

.navigationjump,#content h2 {
display:none;
}

#legend .oddrow td,#legend .evenrow td {
border-bottom:1px solid #d8d8d8;
}